#Data downloaded from 10X genomics, the lymph node xenium 5K dataset
Figure2/01_Simulate_CNVs_in_spatial_data/01_Load_Xenium_5K_lymph_data/Xenium_Prime_Human_Lymph_Node_Reactive_FFPE_outs
Figure2/01_Simulate_CNVs_in_spatial_data/01_Load_Xenium_5K_lymph_data/Xenium_Prime_Human_Lymph_Node_Reactive_FFPE_gene_groups.csv
Figure2/01_Simulate_CNVs_in_spatial_data/01_Load_Xenium_5K_lymph_data/Xenium_Prime_Human_Lymph_Node_Reactive_FFPE_cell_types.csv
Figure2/Xenium_HumanLymphNode_5K.h5ad
